@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada');

@font-face {
    font-family: 'Montserrat Subrayada', sans-serif;
}


html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  /* background-image: url('../img/background2.jpg'); */
  background-size: cover;
}

.container {
  background-color: transparent;
  margin: 0 auto;
  margin-top: 5%;
width: 50%;
  height: 100%;
  z-index: 2;
}

#game {
    background-color:black;
    height: 100%;
    width: 100%;
    z-index: 3;
    border: 3px solid white;
    /* position: absolute;
    left:25%;
top:5%;

height: 50%; */
  }

#rain{
    width: 100%;
    height: 100%;
    background-color:transparent;
    z-index: 1;
}


